# Copy outside the repository, for example /etc/nvbes/observability.env.
# Secrets must come from a secret manager or mounted secret files.

GRAFANA_ALLOY_IMAGE=grafana/alloy:latest

GRAFANA_CLOUD_PROMETHEUS_URL=https://prometheus-<region>.grafana.net/api/prom/push
GRAFANA_CLOUD_PROMETHEUS_USER=<stack-prometheus-user>
GRAFANA_CLOUD_PROMETHEUS_TOKEN_FILE=/etc/nvbes/secrets/grafana_cloud_prometheus_token

GRAFANA_CLOUD_OTLP_ENDPOINT=https://otlp-gateway-<region>.grafana.net/otlp
GRAFANA_CLOUD_OTLP_USER=<stack-otlp-user>
GRAFANA_CLOUD_OTLP_TOKEN_FILE=/etc/nvbes/secrets/grafana_cloud_otlp_token

GRAFANA_CLOUD_LOKI_URL=https://logs-prod-<region>.grafana.net/loki/api/v1/push
GRAFANA_CLOUD_LOKI_USER=<stack-loki-user>
GRAFANA_CLOUD_LOKI_TOKEN_FILE=/etc/nvbes/secrets/grafana_cloud_loki_token

GRAFANA_CLOUD_PROFILES_URL=https://profiles-prod-<region>.grafana.net
GRAFANA_CLOUD_PROFILES_USER=<stack-profiles-user>
GRAFANA_CLOUD_PROFILES_TOKEN_FILE=/etc/nvbes/secrets/grafana_cloud_profiles_token

POSTHOG_PROJECT_TOKEN_FILE=/etc/nvbes/secrets/posthog_project_token
POSTHOG_OTLP_HOST=https://eu.i.posthog.com
POSTHOG_OTLP_LOGS_ENDPOINT=https://eu.i.posthog.com/i/v1/logs
POSTHOG_OTLP_TRACES_ENDPOINT=https://eu.i.posthog.com/i/v1/traces

NVBES_LOGS_DIR=/var/log/nvbes
NVBES_OBSERVABILITY_INTERNAL_TOKEN_FILE=/etc/nvbes/secrets/nvbes_observability_internal_token
NVBES_ACCOUNT_SERVICE_METRICS_TARGET=account-service.internal.nvbes.fr:4000
NVBES_CLOUD_SERVICE_METRICS_TARGET=cloud-service.internal.nvbes.fr:4000
NVBES_CLOUD_WORKER_METRICS_TARGET=cloud-worker.internal.nvbes.fr:4101
NVBES_ACCOUNT_WORKER_METRICS_TARGET=account-worker.internal.nvbes.fr:4102

NVBES_ALLOY_HTTP_PORT=12345
NVBES_OTLP_GRPC_PORT=4317
NVBES_OTLP_HTTP_PORT=4318
NVBES_PYROSCOPE_PORT=4040
