.git
.github
.nx
.pnpm-store
.terraform
.venv
node_modules
target
dist
coverage
logs
infrastructure/local/observability/app-logs

.env
.env.*
!.env.example

*.log
*.sarif
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
