scaleway_project_id                 = "00000000-0000-0000-0000-000000000000"
scaleway_organization_id            = "00000000-0000-0000-0000-000000000000"
scaleway_region                     = "fr-par"
scaleway_zone                       = "fr-par-1"
account_image                       = "rg.fr-par.scw.cloud/nvbes-prod-account/nvbes-account-service@sha256:0000000000000000000000000000000000000000000000000000000000000000"
account_metrics_token               = "example-account-metrics-token-minimum-32-chars"
identity_token_issuer               = "https://identity.nvbes.com"
identity_token_audience             = "nvbes-account-service"
identity_token_key_id               = "identity-v1"
identity_token_public_key_pem       = "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0...\n-----END PUBLIC KEY-----"
account_sentry_dsn                  = "https://example@o000000.ingest.sentry.io/0000000"
account_sentry_traces_sample_rate   = 0.1
grafana_otlp_endpoint               = "https://otlp-gateway-prod-eu-west-0.grafana.net/otlp"
grafana_otlp_authorization_header   = "Basic 000000"
