{"openapi":"3.1.0","info":{"title":"nvbes Account Service","description":"Authentication, authorization, and identity management API","contact":{"name":"nvbes","url":"https://nvbes.fr"},"license":{"name":"UNLICENSED"},"version":"0.1.0"},"servers":[{"url":"https://account.nvbes.fr","description":"Production"},{"url":"http://localhost:8080","description":"Development"}],"paths":{"/.well-known/change-password":{"get":{"tags":["auth"],"operationId":"change_password_well_known","responses":{"200":{"description":"Password change URL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordWellKnownResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/.well-known/gpc.json":{"get":{"tags":["auth"],"operationId":"gpc_well_known","responses":{"200":{"description":"GPC support status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GpcWellKnownResponse"}}}}}}},"/.well-known/jwks.json":{"get":{"tags":["auth"],"operationId":"get_jwks","responses":{"200":{"description":"JWKS public keys","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwksResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/.well-known/oauth-authorization-server":{"get":{"tags":["oauth"],"operationId":"oauth_authorization_server_metadata","responses":{"200":{"description":"OAuth authorization server metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthAuthorizationServerMetadata"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/.well-known/openid-configuration":{"get":{"tags":["oauth"],"operationId":"openid_configuration","responses":{"200":{"description":"OpenID Connect discovery metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthAuthorizationServerMetadata"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/.well-known/passkey-endpoints":{"get":{"tags":["auth"],"operationId":"passkey_endpoints_well_known","responses":{"200":{"description":"Passkey enrollment and management endpoints","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasskeyEndpointsWellKnownResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/.well-known/webauthn":{"get":{"tags":["auth"],"operationId":"webauthn_well_known","responses":{"200":{"description":"WebAuthn related origins for cross-domain passkey sharing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebAuthnWellKnownResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/accounts":{"get":{"tags":["auth"],"operationId":"get_accounts","responses":{"200":{"description":"Active accounts retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountChooserResult"}}}}}}},"/auth/challenge/identifier":{"post":{"tags":["auth"],"operationId":"challenge_identifier","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentifierRequest"}}},"required":true},"responses":{"200":{"description":"Identifier verified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentifierResult"}}}},"403":{"description":"Risk policy blocked or bot guard failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/challenge/mfa":{"post":{"tags":["auth"],"operationId":"challenge_mfa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MfaRequest"}}},"required":true},"responses":{"200":{"description":"Login successful after MFA","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResult"}}}},"401":{"description":"Invalid credentials or state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/challenge/pow":{"get":{"tags":["auth"],"operationId":"challenge_pow","responses":{"200":{"description":"PoW challenge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PowChallenge"}}}}}}},"/auth/challenge/pwd":{"post":{"tags":["auth"],"operationId":"challenge_pwd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PwdRequest"}}},"required":true},"responses":{"200":{"description":"Login successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResult"}}}},"202":{"description":"Password accepted, MFA challenge required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentifierResult"}}}},"401":{"description":"Invalid credentials or state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Password is compromised","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/challenge/webauthn/discoverable/finish":{"post":{"tags":["auth"],"operationId":"challenge_webauthn_discoverable_finish","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnDiscoverableFinishRequest"}}},"required":true},"responses":{"200":{"description":"Login successful after discoverable WebAuthn","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResult"}}}},"401":{"description":"Invalid authentication state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/challenge/webauthn/discoverable/start":{"post":{"tags":["auth"],"operationId":"challenge_webauthn_discoverable_start","responses":{"200":{"description":"Discoverable WebAuthn login challenge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnAuthStartResult"}}}},"401":{"description":"Invalid authentication state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/challenge/webauthn/start":{"post":{"tags":["auth"],"operationId":"challenge_webauthn_start","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnStartRequest"}}},"required":true},"responses":{"200":{"description":"WebAuthn login challenge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnAuthStartResult"}}}},"401":{"description":"Invalid authentication state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/devices/{deviceId}":{"delete":{"tags":["auth"],"operationId":"revoke_device","parameters":[{"name":"deviceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Device revoked and its sessions terminated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTrustResult"}}}},"401":{"description":"Recent step-up required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Device not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/devices/{deviceId}/trust":{"post":{"tags":["auth"],"operationId":"trust_device","parameters":[{"name":"deviceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Device trusted after recent step-up","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTrustResult"}}}},"401":{"description":"Recent step-up required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Device not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/logout":{"post":{"tags":["auth"],"operationId":"logout","responses":{"200":{"description":"Logout successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me":{"get":{"tags":["auth"],"operationId":"me","responses":{"200":{"description":"Current user info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/delete":{"post":{"tags":["auth"],"operationId":"me_delete","responses":{"200":{"description":"Account deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAccountResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/emails":{"get":{"tags":["auth"],"operationId":"me_emails_get","parameters":[{"name":"limit","in":"query","description":"Max results","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cursor","in":"query","description":"Opaque pagination cursor","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"User email addresses","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAddressesResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"post":{"tags":["auth"],"operationId":"me_emails_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddSecondaryEmailInput"}}},"required":true},"responses":{"200":{"description":"Secondary email added","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddSecondaryEmailResult"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"Email already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/emails/{emailId}":{"delete":{"tags":["auth"],"operationId":"me_email_delete","parameters":[{"name":"emailId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Secondary email deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSecondaryEmailResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Primary email cannot be deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Email not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/emails/{emailId}/promote":{"post":{"tags":["auth"],"operationId":"me_email_promote","parameters":[{"name":"emailId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Secondary email promoted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoteSecondaryEmailResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Policy violation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Email not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/emails/{emailId}/resend-verification":{"post":{"tags":["auth"],"operationId":"me_email_resend_verification","parameters":[{"name":"emailId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Secondary email verification resent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendSecondaryEmailVerificationResult"}}}},"400":{"description":"Email cannot be verified through this flow","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Email not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/export":{"get":{"tags":["auth"],"operationId":"me_export_download","responses":{"200":{"description":"Prepared personal data export","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"No prepared export available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"post":{"tags":["auth"],"operationId":"me_export","responses":{"200":{"description":"Data export request recorded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataExportResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/notifications":{"get":{"tags":["auth"],"operationId":"me_notifications_get","responses":{"200":{"description":"Notification preferences","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserNotifications"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"put":{"tags":["auth"],"operationId":"me_notifications_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserNotifications"}}},"required":true},"responses":{"200":{"description":"Notifications updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserNotifications"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/me/preferences":{"get":{"tags":["auth"],"operationId":"me_preferences_get","responses":{"200":{"description":"User preferences","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPreferences"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"put":{"tags":["auth"],"operationId":"me_preferences_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPreferences"}}},"required":true},"responses":{"200":{"description":"Preferences updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPreferences"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/factors":{"get":{"tags":["auth"],"operationId":"list_mfa_factors","parameters":[{"name":"limit","in":"query","description":"Max results","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cursor","in":"query","description":"Opaque pagination cursor","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of MFA factors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MfaFactorsResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/factors/{factorId}":{"delete":{"tags":["auth"],"operationId":"remove_mfa_factor","parameters":[{"name":"factorId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"MFA factor removed"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Factor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/recovery-codes":{"post":{"tags":["auth"],"operationId":"generate_recovery_codes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoveryCodesGenerateRequest"}}},"required":true},"responses":{"200":{"description":"Recovery codes generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecoveryCodesResult"}}}},"400":{"description":"Invalid password","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/totp/confirm":{"post":{"tags":["auth"],"operationId":"confirm_totp_enrollment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpConfirmRequest"}}},"required":true},"responses":{"200":{"description":"TOTP enrollment confirmed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpConfirmResult"}}}},"400":{"description":"Invalid TOTP code","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/totp/setup":{"post":{"tags":["auth"],"operationId":"begin_totp_enrollment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpSetupRequest"}}},"required":true},"responses":{"200":{"description":"TOTP enrollment started","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpSetupResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/webauthn/register/finish":{"post":{"tags":["auth"],"operationId":"confirm_webauthn_enrollment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnRegisterFinishRequest"}}},"required":true},"responses":{"200":{"description":"WebAuthn enrollment confirmed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpConfirmResult"}}}},"400":{"description":"Invalid registration response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/webauthn/register/start":{"post":{"tags":["auth"],"operationId":"begin_webauthn_enrollment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnRegisterStartRequest"}}},"required":true},"responses":{"200":{"description":"WebAuthn registration challenge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnRegisterStartResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/mfa/webauthn/start":{"post":{"tags":["auth"],"operationId":"webauthn_auth_start","responses":{"200":{"description":"WebAuthn authentication challenge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebauthnAuthStartResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/password/change":{"post":{"tags":["auth"],"operationId":"change_password","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordInput"}}},"required":true},"responses":{"200":{"description":"Password changed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordResult"}}}},"400":{"description":"Validation error or same password","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/password/forgot":{"post":{"tags":["auth"],"operationId":"forgot_password","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"Password reset initiated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordResult"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/password/reset":{"post":{"tags":["auth"],"operationId":"reset_password","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"Password reset successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordResult"}}}},"400":{"description":"Invalid or expired token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/region":{"get":{"tags":["auth"],"operationId":"region","responses":{"200":{"description":"Detected region from request headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionResponse"}}}}}}},"/auth/regions":{"get":{"tags":["auth"],"operationId":"supported_regions","responses":{"200":{"description":"Supported region catalog","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupportedRegionResponse"}}}}},"304":{"description":"Supported region catalog not modified"}}}},"/auth/register":{"post":{"tags":["auth"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"Registration successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterResult"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"Email already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/sessions":{"get":{"tags":["auth"],"operationId":"list_sessions","responses":{"200":{"description":"List of active sessions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionsResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/sessions/revoke-others":{"post":{"tags":["auth"],"operationId":"revoke_all_other_sessions","responses":{"200":{"description":"Other sessions revoked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/sessions/{sessionId}":{"delete":{"tags":["auth"],"operationId":"revoke_session","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Session revoked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Session not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/step-up":{"post":{"tags":["auth"],"operationId":"step_up","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepUpRequest"}}},"required":true},"responses":{"200":{"description":"Step-up successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StepUpResult"}}}},"401":{"description":"Unauthorized or invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/verify-email":{"post":{"tags":["auth"],"operationId":"verify_email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailRequest"}}},"required":true},"responses":{"200":{"description":"Email verified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailResult"}}}},"400":{"description":"Invalid or expired token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/verify-email/change":{"post":{"tags":["auth"],"operationId":"change_verify_email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeVerificationRequest"}}},"required":true},"responses":{"200":{"description":"Verification email changed and resent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationResult"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"409":{"description":"Email already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/auth/verify-email/resend":{"post":{"tags":["auth"],"operationId":"resend_verify_email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationRequest"}}},"required":true},"responses":{"200":{"description":"Verification email resent or cooldown reported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationResult"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/authz/decision":{"post":{"tags":["authz"],"operationId":"decide","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecisionRequest"}}},"required":true},"responses":{"200":{"description":"Authorization decision","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecisionResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/legal/consent":{"post":{"tags":["legal"],"operationId":"grant_consent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentRequest"}}},"required":true},"responses":{"200":{"description":"Consent successfully recorded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserConsent"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/legal/consent/revoke":{"post":{"tags":["legal"],"operationId":"revoke_consent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentRequest"}}},"required":true},"responses":{"200":{"description":"Consent successfully revoked"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/legal/consents":{"get":{"tags":["legal"],"operationId":"list_consents","parameters":[{"name":"limit","in":"query","description":"Max results","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cursor","in":"query","description":"Opaque pagination cursor","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Consent history listed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentHistoryResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/legal/gpc":{"get":{"tags":["legal"],"operationId":"gpc_status","responses":{"200":{"description":"GPC status and auto-recording result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GpcStatusResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/authorize":{"get":{"tags":["oauth"],"operationId":"authorize","parameters":[{"name":"response_type","in":"query","description":"Response type","required":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","description":"OAuth client ID","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"Redirect URI","required":false,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"Requested scopes","required":false,"schema":{"type":"string"}},{"name":"state","in":"query","description":"State parameter","required":false,"schema":{"type":"string"}},{"name":"audience","in":"query","description":"Audience","required":false,"schema":{"type":"string"}},{"name":"code_challenge","in":"query","description":"PKCE code challenge","required":false,"schema":{"type":"string"}},{"name":"code_challenge_method","in":"query","description":"PKCE code challenge method","required":false,"schema":{"type":"string"}},{"name":"request_uri","in":"query","description":"PAR request_uri (RFC 9126) or JAR request_uri (RFC 9101)","required":false,"schema":{"type":"string"}},{"name":"request","in":"query","description":"JAR request object JWT (RFC 9101)","required":false,"schema":{"type":"string"}},{"name":"client_secret","in":"query","description":"Client secret (required for JAR)","required":false,"schema":{"type":"string"}},{"name":"authuser","in":"query","description":"Auth user index","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Authorization code issued"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Client not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/client-policies/{policyId}":{"delete":{"tags":["oauth"],"operationId":"delete_client_policy","parameters":[{"name":"policyId","in":"path","description":"Policy ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Client policy deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteOAuthClientPolicyResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"patch":{"tags":["oauth"],"operationId":"update_client_policy","parameters":[{"name":"policyId","in":"path","description":"Policy ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOAuthClientPolicyInput"}}},"required":true},"responses":{"200":{"description":"Client policy updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientPolicyView"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/clients":{"get":{"tags":["oauth"],"operationId":"list_clients","responses":{"200":{"description":"List OAuth clients","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientsResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"post":{"tags":["oauth"],"operationId":"create_client","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOAuthClientInput"}}},"required":true},"responses":{"200":{"description":"OAuth client created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOAuthClientResult"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/clients/{clientId}":{"delete":{"tags":["oauth"],"operationId":"revoke_client","parameters":[{"name":"clientId","in":"path","description":"OAuth client ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OAuth client revoked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeOAuthClientResult"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/clients/{clientId}/policies":{"get":{"tags":["oauth"],"operationId":"list_client_policies","parameters":[{"name":"clientId","in":"path","description":"OAuth client ID","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Max results","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cursor","in":"query","description":"Opaque pagination cursor","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List client policies","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientPoliciesResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"post":{"tags":["oauth"],"operationId":"create_client_policy","parameters":[{"name":"clientId","in":"path","description":"OAuth client ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOAuthClientPolicyInput"}}},"required":true},"responses":{"200":{"description":"Client policy created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientPolicyView"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/device/approve":{"post":{"tags":["oauth"],"operationId":"device_approve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceApprovalInput"}}},"required":true},"responses":{"200":{"description":"Device code approved"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/device/authorize":{"post":{"tags":["oauth"],"operationId":"device_authorize","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAuthorizeRequest"}}},"required":true},"responses":{"200":{"description":"Device authorization response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceAuthorizationView"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/device/deny":{"post":{"tags":["oauth"],"operationId":"device_deny","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceVerificationInput"}}},"required":true},"responses":{"200":{"description":"Device code denied"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/device/verify":{"post":{"tags":["oauth"],"operationId":"device_verify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceVerificationInput"}}},"required":true},"responses":{"200":{"description":"Device verification response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceVerificationView"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/introspect":{"post":{"tags":["oauth"],"operationId":"introspect","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntrospectRequest"}}},"required":true},"responses":{"200":{"description":"Introspection result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntrospectionResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/revoke":{"post":{"tags":["oauth"],"operationId":"revoke","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/RevokeRequest"}}},"required":true},"responses":{"200":{"description":"Token revoked successfully"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/token":{"post":{"tags":["oauth"],"operationId":"token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}},"required":true},"responses":{"200":{"description":"Token response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenView"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/oauth/userinfo":{"get":{"tags":["oauth"],"operationId":"userinfo","responses":{"200":{"description":"User info claims"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/workspaces/{workspaceId}/security-events":{"get":{"tags":["security"],"operationId":"list_security_events","parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","description":"Max results","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cursor","in":"query","description":"Opaque pagination cursor","required":false,"schema":{"type":"string"}},{"name":"geo_country_code","in":"query","description":"Filter by resolved ISO country code","required":false,"schema":{"type":"string"}},{"name":"geo_source","in":"query","description":"Filter by geo source","required":false,"schema":{"type":"string"}},{"name":"geo_confidence","in":"query","description":"Filter by geo confidence","required":false,"schema":{"type":"string"}},{"name":"geo_network_kind","in":"query","description":"Filter by geo network kind","required":false,"schema":{"type":"string"}},{"name":"min_geo_risk_score","in":"query","description":"Minimum geo network risk score","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"geo_risk_label","in":"query","description":"Filter by exact geo risk label","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Security events","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityEventsResponse"}}}},"400":{"description":"Invalid pagination cursor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/workspaces/{workspaceId}/security-events/export":{"get":{"tags":["security"],"operationId":"export_security_events","parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Security events export file"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}}},"components":{"schemas":{"AccountChooserResult":{"type":"object","required":["accounts"],"properties":{"accounts":{"type":"array","items":{"$ref":"#/components/schemas/AccountChooserSession"}}}},"AccountChooserSession":{"type":"object","required":["authuser","status","user","session"],"properties":{"authuser":{"type":"string"},"message":{"type":["string","null"]},"session":{"$ref":"#/components/schemas/SessionView"},"status":{"$ref":"#/components/schemas/AccountChooserSessionStatus"},"user":{"$ref":"#/components/schemas/UserView"}}},"AccountChooserSessionStatus":{"type":"string","enum":["active","expired"]},"AddSecondaryEmailInput":{"type":"object","required":["email"],"properties":{"email":{"type":"string"}}},"AddSecondaryEmailResult":{"type":"object","required":["email","verification_resend_available_at"],"properties":{"email":{"$ref":"#/components/schemas/EmailAddressView"},"verification_resend_available_at":{"type":"string","format":"date-time"}}},"BotGuardProof":{"type":"object","description":"Client-side metadata attached to form submissions for enhanced\nsession integrity verification.","properties":{"form_ts":{"type":["integer","null"],"format":"int64","description":"Client-side session initialization timestamp (Unix ms)."},"js_sig":{"type":["string","null"],"description":"Client integrity signature."},"website":{"type":["string","null"],"description":"Optional referral or profile URL associated with the submission."}}},"BotSignals":{"type":"object","description":"Client-collected signals for bot scoring at the `/challenge/identifier` step.\n\nAll fields are `Option` — absent fields are silently skipped during scoring.\nThe struct is designed so that a minimal client (curl, legacy SDK) can omit\neverything without being penalised: only _present_ signals contribute to the score.","properties":{"audio_hash":{"type":["string","null"],"description":"AudioContext oscilloscope hash — hardware-dependent float."},"auto_chrome_driver_injected":{"type":["boolean","null"],"description":"True if chromedriver signature properties were found on window/document."},"auto_chrome_runtime_missing":{"type":["boolean","null"],"description":"True if chrome object is present but chrome.runtime is missing (headless artifact)."},"auto_chrome_spoofed":{"type":["boolean","null"],"description":"True if window.chrome is absent or spoofed with non-native descriptors on Chrome UA."},"auto_global_tools_detected":{"type":["boolean","null"],"description":"True if global variables injected by Selenium, Playwright, Cypress, etc. were found."},"auto_iframe_webdriver":{"type":["boolean","null"],"description":"True if a dynamically spawned clean iframe leaks navigator.webdriver === true."},"auto_native_function_spoofed":{"type":["boolean","null"],"description":"True if common native functions like permissions.query have spoofed toString signatures."},"auto_plugins_inconsistent":{"type":["boolean","null"],"description":"True if navigator.plugins is inconsistent (e.g. empty on desktop or fake instance)."},"auto_ua_data_inconsistent":{"type":["boolean","null"],"description":"True if navigator.userAgentData and User-Agent headers contradict each other."},"auto_webdriver":{"type":["boolean","null"],"description":"Value of navigator.webdriver."},"auto_webdriver_spoofed":{"type":["boolean","null"],"description":"True if navigator.webdriver getter signature has been spoofed."},"battery_available":{"type":["boolean","null"],"description":"Whether `navigator.getBattery()` is available."},"canvas_hash":{"type":["string","null"],"description":"SHA-256 hex of a deterministic canvas draw. Used for headless detection."},"caret_at_end":{"type":["boolean","null"],"description":"True if the caret was positioned at the end of the email string."},"color_depth":{"type":["integer","null"],"format":"int32","description":"screen.colorDepth in bits.","minimum":0},"email_focus_before_value":{"type":["boolean","null"],"description":"True if focus occurred before the email field was populated."},"email_had_focus":{"type":["boolean","null"],"description":"True if the email field received a focusin event before form submission."},"event_cascade":{"type":["integer","null"],"format":"int32","description":"Bitfield of observed submit events (5 bits):\nbit 0 = pointerdown, 1 = mousedown, 2 = pointerup, 3 = mouseup, 4 = click.","minimum":0},"event_order_valid":{"type":["boolean","null"],"description":"True if events arrived in the correct order (pointerdown → click).\nNone if no pointer events were observed."},"font_count":{"type":["integer","null"],"format":"int32","description":"Number of system fonts available (out of a fixed test set of 20).","minimum":0},"kb_dwell_mean":{"type":["number","null"],"format":"double","description":"Mean of key dwell times in milliseconds."},"kb_dwell_variance":{"type":["number","null"],"format":"double","description":"Variance of key dwell times in milliseconds (keydown → keyup duration)."},"kb_flight_mean":{"type":["number","null"],"format":"double","description":"Mean of key flight times in milliseconds."},"kb_flight_variance":{"type":["number","null"],"format":"double","description":"Variance of key flight times in milliseconds (keyup → next keydown)."},"kb_sample_count":{"type":["integer","null"],"format":"int32","description":"Number of keystroke pairs sampled for biometrics.","minimum":0},"keyboard_submit":{"type":["boolean","null"],"description":"True if the form was submitted via keyboard (Enter), not a click.\nUsed to adjust event_cascade expectations."},"lang":{"type":["string","null"],"description":"Value of `navigator.language` (e.g. \"fr-FR\")."},"mouse_event_count":{"type":["integer","null"],"format":"int32","description":"Number of mousemove events recorded before form submission.","minimum":0},"mouse_path_length":{"type":["number","null"],"format":"double","description":"Total euclidean distance travelled by the mouse cursor in pixels."},"mouse_variance":{"type":["number","null"],"format":"double","description":"Variance of mouse acceleration vectors (higher = more human-like)."},"nav_device_memory":{"type":["number","null"],"format":"double","description":"Value of `navigator.deviceMemory` in GB."},"nav_hw_concurrency":{"type":["integer","null"],"format":"int32","description":"Value of `navigator.hardwareConcurrency`.","minimum":0},"nav_touch_points":{"type":["integer","null"],"format":"int32","description":"Value of `navigator.maxTouchPoints`.","minimum":0},"perm_notifications":{"type":["string","null"],"description":"State of the notifications permission (\"granted\"/\"denied\"/\"prompt\"/\"unavailable\")."},"pixel_ratio":{"type":["number","null"],"format":"double","description":"window.devicePixelRatio."},"platform":{"type":["string","null"],"description":"navigator.platform (e.g. \"MacIntel\", \"Win32\", \"Linux x86_64\")."},"raf_mean":{"type":["number","null"],"format":"double","description":"Mean requestAnimationFrame interval in milliseconds."},"raf_variance":{"type":["number","null"],"format":"double","description":"Variance of requestAnimationFrame deltas in milliseconds."},"screen_height":{"type":["integer","null"],"format":"int32","description":"screen.height in pixels.","minimum":0},"screen_width":{"type":["integer","null"],"format":"int32","description":"screen.width in pixels.","minimum":0},"scroll_event_count":{"type":["integer","null"],"format":"int32","description":"Number of scroll events observed on the login page.","minimum":0},"scroll_speed_variance":{"type":["number","null"],"format":"double","description":"Variance of scroll speed (pixels per millisecond) across all scroll events."},"speech_voices_count":{"type":["integer","null"],"format":"int32","description":"Number of voices returned by `speechSynthesis.getVoices()`. -1 = unavailable."},"storage_ok":{"type":["boolean","null"],"description":"True if localStorage is readable and writable."},"submit_visible":{"type":["boolean","null"],"description":"True if the submit button was visible (IntersectionObserver).\nNone if IntersectionObserver is unsupported."},"tz":{"type":["string","null"],"description":"Resolved IANA timezone (e.g. \"Europe/Paris\")."},"tz_offset":{"type":["integer","null"],"format":"int32","description":"Value of `new Date().getTimezoneOffset()` in minutes."},"webgl_renderer":{"type":["string","null"],"description":"Raw `UNMASKED_RENDERER_WEBGL` string (e.g. \"ANGLE (NVIDIA, ...)\")."},"webgl_vendor":{"type":["string","null"],"description":"Raw `UNMASKED_VENDOR_WEBGL` string (e.g. \"Google Inc. (NVIDIA)\")."}}},"ChangePasswordInput":{"type":"object","required":["current_password","new_password"],"properties":{"current_password":{"type":"string"},"new_password":{"type":"string"}}},"ChangePasswordResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"ChangePasswordWellKnownResponse":{"type":"object","required":["change-password"],"properties":{"change-password":{"type":"string"}}},"ChangeVerificationRequest":{"type":"object","required":["email"],"properties":{"current_email":{"type":["string","null"]},"email":{"type":"string"}}},"ConsentHistoryResult":{"type":"object","required":["consents","has_more"],"properties":{"consents":{"type":"array","items":{"$ref":"#/components/schemas/UserConsent"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}},"ConsentRequest":{"type":"object","required":["consent_type","document_version"],"properties":{"consent_type":{"type":"string"},"document_version":{"type":"string"}}},"CreateOAuthClientInput":{"type":"object","required":["name","redirect_uris","allowed_scopes"],"properties":{"allowed_audiences":{"type":"array","items":{"type":"string"}},"allowed_resources":{"type":"array","items":{"type":"string"}},"allowed_scopes":{"type":"array","items":{"type":"string"}},"client_assertion_public_key_jwk":{},"client_assertion_required":{"type":["boolean","null"]},"client_type":{"type":["string","null"]},"name":{"type":"string"},"owner_scope_id":{"type":["string","null"],"format":"uuid"},"owner_scope_type":{"type":["string","null"]},"redirect_uris":{"type":"array","items":{"type":"string"}},"required_acr":{"type":["string","null"]},"requires_admin_consent":{"type":["boolean","null"]},"service_account_description":{"type":["string","null"]},"service_account_name":{"type":["string","null"]},"service_account_principal_id":{"type":["string","null"],"format":"uuid"},"service_account_role":{"type":["string","null"]}}},"CreateOAuthClientPolicyInput":{"type":"object","required":["allowed_scopes"],"properties":{"allowed_audiences":{"type":"array","items":{"type":"string"}},"allowed_resources":{"type":"array","items":{"type":"string"}},"allowed_scopes":{"type":"array","items":{"type":"string"}},"required_acr":{"type":["string","null"]},"scope_id":{"type":["string","null"],"format":"uuid"},"scope_type":{"type":["string","null"]},"status":{"type":["string","null"]}}},"CreateOAuthClientResult":{"type":"object","required":["client","client_secret","policy"],"properties":{"client":{"$ref":"#/components/schemas/OAuthClientView"},"client_secret":{"type":"string"},"policy":{"$ref":"#/components/schemas/OAuthClientPolicyView"}}},"DataExportResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"DecisionRequest":{"type":"object","required":["workspace_id","action"],"properties":{"action":{"type":"string"},"resource":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/DecisionResourceRequest"}]},"workspace_id":{"type":"string","format":"uuid"}}},"DecisionResourceRequest":{"type":"object","properties":{"member_share_links_enabled":{"type":"boolean"},"owns_resource":{"type":"boolean"},"target_role":{"type":["string","null"]}}},"DecisionResponse":{"type":"object","required":["decision"],"properties":{"decision":{"$ref":"#/components/schemas/WorkspaceDecision"}}},"DeleteAccountResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"DeleteOAuthClientPolicyResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"DeleteSecondaryEmailResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"DeviceApprovalInput":{"type":"object","required":["user_code","workspace_id"],"properties":{"consent_action":{"type":["string","null"]},"organization_id":{"type":["string","null"],"format":"uuid"},"user_code":{"type":"string"},"workspace_id":{"type":"string","format":"uuid"}}},"DeviceAuthorizationView":{"type":"object","required":["device_code","user_code","verification_uri","expires_in","interval"],"properties":{"device_code":{"type":"string"},"expires_in":{"type":"integer","format":"int64"},"interval":{"type":"integer","format":"int64"},"user_code":{"type":"string"},"verification_uri":{"type":"string"},"verification_uri_complete":{"type":["string","null"]}}},"DeviceAuthorizeRequest":{"type":"object","required":["client_id","scope"],"properties":{"audience":{"type":["string","null"]},"client_id":{"type":"string"},"resource":{"type":["array","null"],"items":{"type":"string"}},"scope":{"type":"string"}}},"DeviceTrustResult":{"type":"object","required":["success","device_id","trust_level","trust_score"],"properties":{"device_id":{"type":"string","format":"uuid"},"success":{"type":"boolean"},"trust_level":{"type":"string"},"trust_score":{"type":"integer","format":"int32"}}},"DeviceVerificationInput":{"type":"object","required":["user_code"],"properties":{"user_code":{"type":"string"}}},"DeviceVerificationView":{"type":"object","required":["client_name","scope","tenant_id"],"properties":{"client_name":{"type":"string"},"scope":{"type":"array","items":{"type":"string"}},"tenant_id":{"type":"string","format":"uuid"}}},"EmailAddressView":{"type":"object","required":["id","email","is_primary","verified","created_at"],"properties":{"created_at":{"type":"string","format":"date-time"},"email":{"type":"string"},"id":{"type":"string","format":"uuid"},"is_primary":{"type":"boolean"},"verified":{"type":"boolean"},"verified_at":{"type":["string","null"],"format":"date-time"}}},"EmailAddressesResult":{"type":"object","required":["emails","primary_min_age_hours","has_more"],"properties":{"emails":{"type":"array","items":{"$ref":"#/components/schemas/EmailAddressView"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]},"primary_min_age_hours":{"type":"integer","format":"int32"}}},"ErrorBody":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"recovery":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/ErrorRecovery"}]},"request_id":{"type":["string","null"]}}},"ErrorEnvelope":{"type":"object","required":["error"],"properties":{"error":{"$ref":"#/components/schemas/ErrorBody"}}},"ErrorRecovery":{"type":"string","enum":["reauthenticate"]},"ForgotPasswordRequest":{"type":"object","required":["email"],"properties":{"email":{"type":"string"}}},"ForgotPasswordResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"GpcStatusResponse":{"type":"object","required":["gpc_enabled","gpc_opt_out_active"],"properties":{"gpc_enabled":{"type":"boolean"},"gpc_opt_out_active":{"type":"boolean"}}},"GpcWellKnownResponse":{"type":"object","required":["gpc","version"],"properties":{"gpc":{"type":"boolean"},"version":{"type":"integer","format":"int32","minimum":0}}},"IdentifierRequest":{"type":"object","required":["email","pow_nonce","pow_solution"],"properties":{"bot_guard":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/BotGuardProof"}]},"bot_signals":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/BotSignals"}]},"decoy_link_clicked":{"type":["boolean","null"]},"device_fingerprint":{},"email":{"type":"string"},"pow_nonce":{"type":"string"},"pow_solution":{"type":"string"}}},"IdentifierResult":{"type":"object","required":["next_step","state_token"],"properties":{"available_methods":{"type":["array","null"],"items":{"type":"string"}},"next_step":{"type":"string"},"state_token":{"type":"string","format":"uuid"}}},"IntrospectRequest":{"type":"object","required":["token"],"properties":{"token":{"type":"string"},"token_type_hint":{"type":["string","null"]}}},"IntrospectionResponse":{"type":"object","required":["active"],"properties":{"acr":{"type":["string","null"]},"act":{},"active":{"type":"boolean"},"actor_organization_id":{"type":["string","null"],"format":"uuid"},"actor_principal_type":{"type":["string","null"]},"actor_role":{"type":["string","null"]},"actor_tenant_id":{"type":["string","null"],"format":"uuid"},"actor_workspace_id":{"type":["string","null"],"format":"uuid"},"amr":{"type":"array","items":{"type":"string"}},"auth_time":{"type":["integer","null"],"format":"int64"},"authorization_details":{"type":"array","items":{"type":"object"}},"client_id":{"type":["string","null"]},"display_name":{"type":["string","null"]},"email":{"type":["string","null"]},"email_verified":{"type":["boolean","null"]},"exp":{"type":["integer","null"],"format":"int64"},"iat":{"type":["integer","null"],"format":"int64"},"jti":{"type":["string","null"]},"nbf":{"type":["integer","null"],"format":"int64"},"network_valid":{"type":["boolean","null"]},"organization_id":{"type":["string","null"],"format":"uuid"},"principal_type":{"type":["string","null"]},"role":{"type":["string","null"]},"scope":{"type":["string","null"]},"sid":{"type":["string","null"]},"sub":{"type":["string","null"]},"tenant_id":{"type":["string","null"],"format":"uuid"},"token_type":{"type":["string","null"]},"username":{"type":["string","null"]},"workspace_id":{"type":["string","null"],"format":"uuid"}}},"JwkKey":{"type":"object","required":["kty","kid","alg","use","n","e"],"properties":{"alg":{"type":"string"},"e":{"type":"string"},"kid":{"type":"string"},"kty":{"type":"string"},"n":{"type":"string"},"use":{"type":"string"}}},"JwksResponse":{"type":"object","required":["keys"],"properties":{"keys":{"type":"array","items":{"$ref":"#/components/schemas/JwkKey"}}}},"LoginResult":{"type":"object","required":["user","session"],"properties":{"session":{"$ref":"#/components/schemas/SessionView"},"user":{"$ref":"#/components/schemas/UserView"},"verification_resend_available_at":{"type":["string","null"],"format":"date-time"}}},"LogoutResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"MeResult":{"type":"object","required":["user"],"properties":{"current_organization_id":{"type":["string","null"],"format":"uuid"},"current_tenant_id":{"type":["string","null"],"format":"uuid"},"current_workspace_id":{"type":["string","null"],"format":"uuid"},"current_workspace_region":{"type":["string","null"]},"user":{"$ref":"#/components/schemas/UserView"}}},"MfaFactorView":{"type":"object","required":["id","factor_type","status","created_at"],"properties":{"confirmed_at":{"type":["string","null"],"format":"date-time"},"created_at":{"type":"string","format":"date-time"},"factor_type":{"type":"string"},"id":{"type":"string","format":"uuid"},"kind":{"type":["string","null"]},"label":{"type":["string","null"]},"last_used_at":{"type":["string","null"],"format":"date-time"},"status":{"type":"string"}}},"MfaFactorsResult":{"type":"object","required":["factors","mfa_enabled","has_more"],"properties":{"factors":{"type":"array","items":{"$ref":"#/components/schemas/MfaFactorView"}},"has_more":{"type":"boolean"},"mfa_enabled":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}},"MfaRequest":{"type":"object","required":["state_token","webauthn_response"],"properties":{"email_code":{"type":["string","null"]},"recovery_code":{"type":["string","null"]},"state_token":{"type":"string","format":"uuid"},"totp_code":{"type":["string","null"]},"webauthn_challenge_id":{"type":["string","null"],"format":"uuid"},"webauthn_response":{"type":"object"}}},"OAuthAuthorizationServerMetadata":{"type":"object","required":["issuer","authorization_endpoint","token_endpoint","jwks_uri","userinfo_endpoint","introspection_endpoint","revocation_endpoint","pushed_authorization_request_endpoint","device_authorization_endpoint","response_types_supported","grant_types_supported","token_endpoint_auth_methods_supported","token_endpoint_auth_signing_alg_values_supported","subject_types_supported","id_token_signing_alg_values_supported","claims_supported","code_challenge_methods_supported","dpop_signing_alg_values_supported","scopes_supported","request_parameter_supported","request_uri_parameter_supported","require_pushed_authorization_requests","authorization_response_iss_parameter_supported","authorization_details_types_supported"],"properties":{"authorization_details_types_supported":{"type":"array","items":{"type":"string"}},"authorization_endpoint":{"type":"string"},"authorization_response_iss_parameter_supported":{"type":"boolean"},"claims_supported":{"type":"array","items":{"type":"string"}},"code_challenge_methods_supported":{"type":"array","items":{"type":"string"}},"device_authorization_endpoint":{"type":"string"},"dpop_signing_alg_values_supported":{"type":"array","items":{"type":"string"}},"grant_types_supported":{"type":"array","items":{"type":"string"}},"id_token_signing_alg_values_supported":{"type":"array","items":{"type":"string"}},"introspection_endpoint":{"type":"string"},"issuer":{"type":"string"},"jwks_uri":{"type":"string"},"pushed_authorization_request_endpoint":{"type":"string"},"request_parameter_supported":{"type":"boolean"},"request_uri_parameter_supported":{"type":"boolean"},"require_pushed_authorization_requests":{"type":"boolean"},"response_types_supported":{"type":"array","items":{"type":"string"}},"revocation_endpoint":{"type":"string"},"scopes_supported":{"type":"array","items":{"type":"string"}},"subject_types_supported":{"type":"array","items":{"type":"string"}},"token_endpoint":{"type":"string"},"token_endpoint_auth_methods_supported":{"type":"array","items":{"type":"string"}},"token_endpoint_auth_signing_alg_values_supported":{"type":"array","items":{"type":"string"}},"userinfo_endpoint":{"type":"string"}}},"OAuthClientPoliciesResult":{"type":"object","required":["policies","has_more"],"properties":{"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]},"policies":{"type":"array","items":{"$ref":"#/components/schemas/OAuthClientPolicyView"}}}},"OAuthClientPolicyView":{"type":"object","required":["id","client_id","scope_type","scope_id","allowed_scopes","allowed_audiences","allowed_resources","required_acr","status","created_at"],"properties":{"allowed_audiences":{"type":"array","items":{"type":"string"}},"allowed_resources":{"type":"array","items":{"type":"string"}},"allowed_scopes":{"type":"array","items":{"type":"string"}},"client_id":{"type":"string","format":"uuid"},"created_at":{"type":"string","format":"date-time"},"id":{"type":"string","format":"uuid"},"required_acr":{"type":"string"},"scope_id":{"type":"string","format":"uuid"},"scope_type":{"type":"string"},"status":{"type":"string"}}},"OAuthClientView":{"type":"object","required":["id","client_id","name","redirect_uris","created_at","owner_scope_type","owner_scope_id","client_type","client_assertion_required","requires_admin_consent","client_assertion_public_key_configured"],"properties":{"client_assertion_public_key_configured":{"type":"boolean"},"client_assertion_required":{"type":"boolean"},"client_id":{"type":"string"},"client_type":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"id":{"type":"string","format":"uuid"},"last_used_at":{"type":["string","null"],"format":"date-time"},"name":{"type":"string"},"owner_scope_id":{"type":"string","format":"uuid"},"owner_scope_type":{"type":"string"},"redirect_uris":{"type":"array","items":{"type":"string"}},"requires_admin_consent":{"type":"boolean"},"service_account_principal_id":{"type":["string","null"],"format":"uuid"},"service_account_role":{"type":["string","null"]},"service_account_workspace_id":{"type":["string","null"],"format":"uuid"},"tenant_id":{"type":["string","null"],"format":"uuid"}}},"OAuthClientsResult":{"type":"object","required":["clients","has_more"],"properties":{"clients":{"type":"array","items":{"$ref":"#/components/schemas/OAuthClientView"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}},"PasskeyEndpointsWellKnownResponse":{"type":"object","required":["enroll","manage"],"properties":{"enroll":{"type":"string"},"manage":{"type":"string"}}},"PowChallenge":{"type":"object","required":["nonce","difficulty"],"properties":{"difficulty":{"type":"integer","format":"int32","minimum":0},"nonce":{"type":"string"}}},"PromoteSecondaryEmailResult":{"type":"object","required":["email","user"],"properties":{"email":{"$ref":"#/components/schemas/EmailAddressView"},"user":{"$ref":"#/components/schemas/UserView"}}},"PwdRequest":{"type":"object","required":["state_token","password"],"properties":{"password":{"type":"string"},"state_token":{"type":"string","format":"uuid"}}},"RecoveryCodesGenerateRequest":{"type":"object","required":["password"],"properties":{"password":{"type":"string"}}},"RecoveryCodesResult":{"type":"object","required":["codes"],"properties":{"codes":{"type":"array","items":{"type":"string"}}}},"RegionResponse":{"type":"object","properties":{"region":{"type":["string","null"]}}},"RegisterRequest":{"type":"object","required":["email","password","firstname","lastname","username","pow_nonce","pow_solution"],"properties":{"birthdate":{"type":["string","null"]},"email":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"legal_documents_accepted":{"type":"boolean"},"marketing_emails_accepted":{"type":"boolean"},"password":{"type":"string"},"pow_nonce":{"type":"string"},"pow_solution":{"type":"string"},"region":{"type":["string","null"]},"username":{"type":"string"}}},"RegisterResult":{"type":"object","required":["user","verification_resend_available_at"],"properties":{"user":{"$ref":"#/components/schemas/UserView"},"verification_resend_available_at":{"type":"string","format":"date-time"}}},"ResendSecondaryEmailVerificationResult":{"type":"object","required":["email","verification_resend_available_at"],"properties":{"email":{"$ref":"#/components/schemas/EmailAddressView"},"verification_resend_available_at":{"type":"string","format":"date-time"}}},"ResendVerificationRequest":{"type":"object","required":["email"],"properties":{"email":{"type":"string"}}},"ResendVerificationResult":{"type":"object","required":["success","email_verified"],"properties":{"email_verified":{"type":"boolean"},"success":{"type":"boolean"},"verification_resend_available_at":{"type":["string","null"],"format":"date-time"}}},"ResetPasswordRequest":{"type":"object","required":["token","new_password"],"properties":{"new_password":{"type":"string"},"token":{"type":"string"}}},"ResetPasswordResult":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"RevokeOAuthClientResult":{"type":"object","required":["client_id","tokens_revoked"],"properties":{"client_id":{"type":"string"},"tokens_revoked":{"type":"integer","format":"int64","minimum":0}}},"RevokeRequest":{"type":"object","required":["token"],"properties":{"token":{"type":"string"},"token_type_hint":{"type":["string","null"]}}},"SecurityEventCount":{"type":"object","required":["key","count"],"properties":{"count":{"type":"integer","minimum":0},"key":{"type":"string"}}},"SecurityEventView":{"type":"object","required":["id","event_type","created_at","geo_risk_labels"],"properties":{"created_at":{"type":"string","format":"date-time"},"event_type":{"type":"string"},"geo_confidence":{"type":["string","null"]},"geo_country_code":{"type":["string","null"]},"geo_network_kind":{"type":["string","null"]},"geo_risk_labels":{"type":"array","items":{"type":"string"}},"geo_risk_score":{"type":["integer","null"],"format":"int64"},"geo_source":{"type":["string","null"]},"id":{"type":"string","format":"uuid"},"ip_address":{"type":["string","null"]},"risk_score":{"type":["number","null"],"format":"double"},"status":{"type":["string","null"]},"user_agent":{"type":["string","null"]}}},"SecurityEventsResponse":{"type":"object","required":["events","has_more","summary"],"properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/SecurityEventView"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]},"summary":{"$ref":"#/components/schemas/SecurityEventsSummary"}}},"SecurityEventsSummary":{"type":"object","required":["total_events","high_risk_events","by_network_kind","by_country","by_risk_label"],"properties":{"by_country":{"type":"array","items":{"$ref":"#/components/schemas/SecurityEventCount"}},"by_network_kind":{"type":"array","items":{"$ref":"#/components/schemas/SecurityEventCount"}},"by_risk_label":{"type":"array","items":{"$ref":"#/components/schemas/SecurityEventCount"}},"high_risk_events":{"type":"integer","minimum":0},"total_events":{"type":"integer","minimum":0}}},"SessionView":{"type":"object","required":["id","created_at","last_seen_at","expires_at","current"],"properties":{"created_at":{"type":"string","format":"date-time"},"current":{"type":"boolean"},"device_id":{"type":["string","null"],"format":"uuid"},"device_trust_level":{"type":["string","null"]},"device_trust_score":{"type":["integer","null"],"format":"int32"},"expires_at":{"type":"string","format":"date-time"},"id":{"type":"string","format":"uuid"},"ip":{"type":["string","null"]},"last_seen_at":{"type":"string","format":"date-time"},"organization_id":{"type":["string","null"],"format":"uuid"},"revoked_at":{"type":["string","null"],"format":"date-time"},"risk_decision":{"type":["string","null"]},"risk_score":{"type":["number","null"],"format":"double"},"tenant_id":{"type":["string","null"],"format":"uuid"},"user_agent":{"type":["string","null"]},"workspace_id":{"type":["string","null"],"format":"uuid"},"workspace_region":{"type":["string","null"]}}},"SessionsResult":{"type":"object","required":["sessions","has_more"],"properties":{"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]},"sessions":{"type":"array","items":{"$ref":"#/components/schemas/SessionView"}}}},"StepUpRequest":{"type":"object","required":["pow_nonce","pow_solution","webauthn_response"],"properties":{"password":{"type":["string","null"]},"pow_nonce":{"type":"string"},"pow_solution":{"type":"string"},"recovery_code":{"type":["string","null"]},"totp_code":{"type":["string","null"]},"webauthn_challenge_id":{"type":["string","null"],"format":"uuid"},"webauthn_response":{"type":"object"}}},"StepUpResult":{"type":"object","required":["success","valid_until"],"properties":{"success":{"type":"boolean"},"valid_until":{"type":"string","format":"date-time"}}},"SupportedRegionResponse":{"type":"object","required":["country_code","data_region","legal_jurisdiction","primary_timezone","timezones"],"properties":{"country_code":{"type":"string"},"data_region":{"type":"string"},"display_name":{"type":["string","null"]},"legal_jurisdiction":{"type":"string"},"primary_timezone":{"type":"string"},"sub_region":{"type":["string","null"]},"timezones":{"type":"array","items":{"type":"string"}}}},"TokenRequest":{"type":"object","required":["grant_type"],"properties":{"actor_token":{"type":["string","null"]},"actor_token_type":{"type":["string","null"]},"audience":{"type":["string","null"]},"client_assertion":{"type":["string","null"]},"client_assertion_type":{"type":["string","null"]},"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"code":{"type":["string","null"]},"code_verifier":{"type":["string","null"]},"device_code":{"type":["string","null"]},"grant_type":{"type":"string"},"redirect_uri":{"type":["string","null"]},"refresh_token":{"type":["string","null"]},"requested_token_type":{"type":["string","null"]},"scope":{"type":["string","null"]},"subject_token":{"type":["string","null"]},"subject_token_type":{"type":["string","null"]}}},"TokenView":{"type":"object","required":["access_token","token_type","expires_in","scope"],"properties":{"access_token":{"type":"string"},"authorization_details":{"type":"array","items":{"type":"object"}},"expires_in":{"type":"integer","format":"int64"},"issued_token_type":{"type":["string","null"]},"refresh_token":{"type":["string","null"]},"scope":{"type":"string"},"token_type":{"type":"string"}}},"TotpConfirmRequest":{"type":"object","required":["factor_id","code"],"properties":{"code":{"type":"string"},"factor_id":{"type":"string","format":"uuid"}}},"TotpConfirmResult":{"type":"object","required":["factor","mfa_enabled"],"properties":{"factor":{"$ref":"#/components/schemas/MfaFactorView"},"mfa_enabled":{"type":"boolean"}}},"TotpSetupRequest":{"type":"object","properties":{"label":{"type":["string","null"]}}},"TotpSetupResult":{"type":"object","required":["factor","secret_base32","provisioning_uri"],"properties":{"factor":{"$ref":"#/components/schemas/MfaFactorView"},"provisioning_uri":{"type":"string"},"secret_base32":{"type":"string"}}},"UpdateOAuthClientPolicyInput":{"type":"object","properties":{"allowed_audiences":{"type":["array","null"],"items":{"type":"string"}},"allowed_resources":{"type":["array","null"],"items":{"type":"string"}},"allowed_scopes":{"type":["array","null"],"items":{"type":"string"}},"required_acr":{"type":["string","null"]},"status":{"type":["string","null"]}}},"UserConsent":{"type":"object","required":["id","principal_id","consent_type","document_version","granted_at"],"properties":{"consent_type":{"type":"string"},"document_version":{"type":"string"},"granted_at":{"type":"string","format":"date-time"},"id":{"type":"string","format":"uuid"},"ip_address":{"type":["string","null"]},"principal_id":{"type":"string","format":"uuid"},"revoked_at":{"type":["string","null"],"format":"date-time"}}},"UserNotifications":{"type":"object","properties":{"email":{"type":"boolean"},"in_app":{"type":"boolean"},"marketing_email":{"type":"boolean"},"push":{"type":"boolean"}}},"UserPreferences":{"type":"object","properties":{"language":{"type":"string"},"skip_password":{"type":"boolean"},"theme":{"type":"string"}}},"UserView":{"type":"object","required":["id","email","display_name","email_verified","mfa_enabled","created_at"],"properties":{"birthdate":{"type":["string","null"],"format":"date"},"created_at":{"type":"string","format":"date-time"},"display_name":{"type":"string"},"email":{"type":"string"},"email_verified":{"type":"boolean"},"firstname":{"type":["string","null"]},"id":{"type":"string","format":"uuid"},"lastname":{"type":["string","null"]},"mfa_enabled":{"type":"boolean"},"region":{"type":["string","null"]},"username":{"type":["string","null"]}}},"VerifyEmailRequest":{"type":"object","required":["token"],"properties":{"token":{"type":"string"}}},"VerifyEmailResult":{"type":"object","required":["success","user"],"properties":{"success":{"type":"boolean"},"user":{"$ref":"#/components/schemas/UserView"}}},"WebAuthnWellKnownResponse":{"type":"object","required":["origins"],"properties":{"origins":{"type":"array","items":{"type":"string"}}}},"WebauthnAuthStartResult":{"type":"object","required":["challenge_id","options"],"properties":{"challenge_id":{"type":"string","format":"uuid"},"options":{}}},"WebauthnDiscoverableFinishRequest":{"type":"object","required":["challenge_id","webauthn_response"],"properties":{"challenge_id":{"type":"string","format":"uuid"},"webauthn_response":{"type":"object"}}},"WebauthnRegisterFinishRequest":{"type":"object","required":["factor_id","reg"],"properties":{"factor_id":{"type":"string","format":"uuid"},"reg":{"type":"object"}}},"WebauthnRegisterStartRequest":{"type":"object","properties":{"kind":{"type":["string","null"]},"label":{"type":["string","null"]}}},"WebauthnRegisterStartResult":{"type":"object","required":["factor_id","options"],"properties":{"factor_id":{"type":"string","format":"uuid"},"options":{}}},"WebauthnStartRequest":{"type":"object","required":["state_token"],"properties":{"state_token":{"type":"string","format":"uuid"}}},"WorkspaceDecision":{"type":"object","required":["allowed","reason","action","requires_step_up"],"properties":{"action":{"type":"string"},"allowed":{"type":"boolean"},"reason":{"type":"string"},"requires_step_up":{"type":"boolean"},"role":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/WorkspaceRole"}]}}},"WorkspaceRole":{"type":"string","enum":["Owner","Admin","SecurityAdmin","BillingAdmin","Member","Viewer"]}}},"tags":[{"name":"auth","description":"Authentication & sessions"},{"name":"mfa","description":"Multi-factor authentication"},{"name":"oauth","description":"OAuth2 authorization server"},{"name":"security","description":"Security events & audit"},{"name":"authz","description":"Authorization decisions"}]}
