{"openapi":"3.1.0","info":{"title":"nvbes Developer Service","description":"Developer Console, applications, webhooks, credentials, and integration tooling","contact":{"name":"nvbes","url":"https://nvbes.fr"},"license":{"name":"UNLICENSED"},"version":"0.1.0"},"servers":[{"url":"https://developer-api.nvbes.fr","description":"Production"},{"url":"http://localhost:4040","description":"Development"}],"paths":{"/developer/apps":{"get":{"tags":["developer"],"operationId":"list_apps","responses":{"200":{"description":"Developer apps"}}},"post":{"tags":["developer"],"operationId":"create_app","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeveloperAppRequest"}}},"required":true},"responses":{"200":{"description":"Developer app created"}}}},"/developer/apps/{clientId}":{"get":{"tags":["developer"],"operationId":"get_app","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Developer app"}}},"delete":{"tags":["developer"],"operationId":"revoke_app","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Developer app revoked"}}}},"/developer/apps/{clientId}/redirects":{"patch":{"tags":["developer"],"operationId":"update_redirects","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeveloperRedirectsRequest"}}},"required":true},"responses":{"200":{"description":"Developer app redirects updated"}}}},"/developer/console/context":{"get":{"tags":["developer-console"],"operationId":"context","responses":{"200":{"description":"Developer context"}}}},"/developer/console/health-checks":{"get":{"tags":["developer-console"],"operationId":"list_health_checks","responses":{"200":{"description":"Developer health checks"}}},"post":{"tags":["developer-console"],"operationId":"run_health_checks","responses":{"200":{"description":"Developer health checks executed"}}}},"/developer/console/logs":{"get":{"tags":["developer-console"],"operationId":"list_api_logs","responses":{"200":{"description":"Developer API logs"}}}},"/developer/console/marketplace/apps":{"get":{"tags":["developer-console"],"operationId":"list_marketplace_apps","responses":{"200":{"description":"Marketplace apps"}}}},"/developer/console/marketplace/apps/{clientId}/review":{"post":{"tags":["developer-console"],"operationId":"review_marketplace_app","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewMarketplaceAppInput"}}},"required":true},"responses":{"200":{"description":"Marketplace app reviewed"}}}},"/developer/console/marketplace/apps/{clientId}/submit":{"post":{"tags":["developer-console"],"operationId":"submit_marketplace_app","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Marketplace app submitted"}}}},"/developer/console/oauth-clients":{"get":{"tags":["developer-console"],"operationId":"list_oauth_clients","responses":{"200":{"description":"OAuth clients"}}}},"/developer/console/oauth-clients/{clientId}/consent-screen":{"get":{"tags":["developer-console"],"operationId":"get_consent_screen","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Consent screen"}}},"put":{"tags":["developer-console"],"operationId":"upsert_consent_screen","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertDeveloperConsentScreenInput"}}},"required":true},"responses":{"200":{"description":"Consent screen updated"}}}},"/developer/console/oauth-clients/{clientId}/secrets":{"get":{"tags":["developer-console"],"operationId":"list_secret_versions","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Secret versions"}}}},"/developer/console/oauth-clients/{clientId}/secrets/rotation":{"post":{"tags":["developer-console"],"operationId":"rotate_secret","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotateDeveloperSecretInput"}}},"required":true},"responses":{"200":{"description":"Secret rotated"}}}},"/developer/console/oauth-clients/{clientId}/secrets/{versionId}/revoke":{"post":{"tags":["developer-console"],"operationId":"revoke_secret_version","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Secret version revoked"}}}},"/developer/console/overview":{"get":{"tags":["developer-console"],"operationId":"overview","responses":{"200":{"description":"Developer overview"}}}},"/developer/console/sandbox":{"get":{"tags":["developer-console"],"operationId":"get_sandbox","responses":{"200":{"description":"Developer sandbox"}}},"put":{"tags":["developer-console"],"operationId":"upsert_sandbox","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertDeveloperSandboxInput"}}},"required":true},"responses":{"200":{"description":"Developer sandbox created"}}}},"/developer/console/sandbox/reset":{"post":{"tags":["developer-console"],"operationId":"reset_sandbox","responses":{"200":{"description":"Developer sandbox reset"}}}},"/developer/console/scopes":{"get":{"tags":["developer-console"],"operationId":"list_scopes","responses":{"200":{"description":"Developer scopes"}}},"post":{"tags":["developer-console"],"operationId":"create_scope","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateScopeInput"}}},"required":true},"responses":{"200":{"description":"Developer scope created"}}}},"/developer/console/scopes/{scopeKey}":{"put":{"tags":["developer-console"],"operationId":"update_scope","parameters":[{"name":"scopeKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateScopeInput"}}},"required":true},"responses":{"200":{"description":"Developer scope updated"}}},"delete":{"tags":["developer-console"],"operationId":"delete_scope","parameters":[{"name":"scopeKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Developer scope deleted"}}}},"/developer/console/service-accounts":{"get":{"tags":["developer-console"],"operationId":"list_service_accounts","responses":{"200":{"description":"Service accounts"}}}},"/developer/console/tokens/debug":{"post":{"tags":["developer-console"],"operationId":"debug_token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebugDeveloperTokenInput"}}},"required":true},"responses":{"200":{"description":"Token debug result"}}}},"/developer/console/webhooks":{"get":{"tags":["developer-console"],"operationId":"list_console_webhooks","responses":{"200":{"description":"Console webhooks"}}}},"/developer/console/webhooks/deliveries/{deliveryId}/replay":{"post":{"tags":["developer-console"],"operationId":"replay_delivery","parameters":[{"name":"deliveryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Webhook delivery replayed"}}}},"/developer/console/webhooks/{endpointId}/deliveries":{"get":{"tags":["developer-console"],"operationId":"list_deliveries","parameters":[{"name":"endpointId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Webhook deliveries"}}}},"/developer/logs":{"get":{"tags":["developer"],"operationId":"list_logs","responses":{"200":{"description":"Developer activity logs"}}}},"/developer/me":{"get":{"tags":["developer"],"operationId":"me","responses":{"200":{"description":"Developer access"}}}},"/developer/oauth/playground/exchange":{"post":{"tags":["developer"],"operationId":"exchange_playground_code","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthPlaygroundExchangeRequest"}}},"required":true},"responses":{"200":{"description":"OAuth playground exchange"}}}},"/developer/tokens/inspect":{"post":{"tags":["developer"],"operationId":"inspect_token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InspectDeveloperTokenRequest"}}},"required":true},"responses":{"200":{"description":"Token inspection"}}}},"/developer/webhooks":{"get":{"tags":["developer"],"operationId":"list_portal_webhooks","responses":{"200":{"description":"Developer webhooks"}}},"post":{"tags":["developer"],"operationId":"create_portal_webhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeveloperWebhookEndpointRequest"}}},"required":true},"responses":{"200":{"description":"Developer webhook created"}}}},"/developer/webhooks/{endpointId}":{"delete":{"tags":["developer"],"operationId":"delete_portal_webhook","parameters":[{"name":"endpointId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Developer webhook revoked"}}}}},"components":{"schemas":{"CreateDeveloperAppRequest":{"type":"object","required":["name","redirect_uris","allowed_scopes"],"properties":{"allowed_audiences":{"type":"array","items":{"type":"string"}},"allowed_resources":{"type":"array","items":{"type":"string"}},"allowed_scopes":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"redirect_uris":{"type":"array","items":{"type":"string"}}}},"CreateDeveloperWebhookEndpointRequest":{"type":"object","required":["name","url","events"],"properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/DeveloperWebhookEventType"}},"name":{"type":"string"},"url":{"type":"string"}}},"CreateScopeInput":{"type":"object","required":["scope_key","display_name","description","risk","owner_team","allowed_audiences"],"properties":{"allowed_audiences":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"display_name":{"type":"string"},"lifecycle":{"type":["string","null"]},"owner_team":{"type":"string"},"risk":{"type":"string"},"scope_key":{"type":"string"}}},"DebugDeveloperTokenInput":{"type":"object","description":"Token material accepted only for diagnostics and never echoed.","required":["access_token"],"properties":{"access_token":{"type":"string"}}},"DeveloperWebhookEventType":{"type":"string","description":"Event types supported by Developer webhooks.","enum":["user.created","login.failed","session.revoked","client.created"]},"InspectDeveloperTokenRequest":{"type":"object","required":["token"],"properties":{"token":{"type":"string"}}},"OAuthPlaygroundExchangeRequest":{"type":"object","required":["client_id","code","redirect_uri","code_verifier"],"properties":{"client_id":{"type":"string"},"code":{"type":"string"},"code_verifier":{"type":"string"},"redirect_uri":{"type":"string"}}},"ReviewMarketplaceAppInput":{"type":"object","required":["status"],"properties":{"review_reason":{"type":["string","null"]},"status":{"type":"string"}}},"RotateDeveloperSecretInput":{"type":"object","required":["overlap_hours"],"properties":{"overlap_hours":{"type":"integer","format":"int64"}}},"UpdateDeveloperRedirectsRequest":{"type":"object","required":["redirect_uris"],"properties":{"redirect_uris":{"type":"array","items":{"type":"string"}}}},"UpdateScopeInput":{"type":"object","required":["display_name","description","risk","owner_team","lifecycle","allowed_audiences"],"properties":{"allowed_audiences":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"display_name":{"type":"string"},"lifecycle":{"type":"string"},"owner_team":{"type":"string"},"risk":{"type":"string"}}},"UpsertDeveloperConsentScreenInput":{"type":"object","required":["product_name","description"],"properties":{"brand_color":{"type":["string","null"]},"custom_css":{"type":["string","null"]},"description":{"type":"string"},"help_text":{"type":["string","null"]},"logo_url":{"type":["string","null"]},"privacy_url":{"type":["string","null"]},"product_name":{"type":"string"},"support_url":{"type":["string","null"]},"terms_url":{"type":["string","null"]}}},"UpsertDeveloperSandboxInput":{"type":"object","properties":{"data_profile":{"type":["string","null"]}}}}},"tags":[{"name":"developer","description":"Developer portal API"},{"name":"developer-console","description":"Developer Console API"}]}
